---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Machado.Dev - 404 Página no Encontrada" page="404">

    <div class="container-fluid p-4">

        <h4 class="section-title">404 - Página no encontrada</h4>

        <div class="d-flex justify-content-center">
            <img src="/img/404.png" class="w-50">
        </div>

    </div>

</Layout>
